.hearderleft{
    padding-left: 25px
}
.title{
    font-size: 18px;
    color: aliceblue;
    float:left
}
.titleIcon{
    margin-right: 10px
}
.down{
    font-size: 12px;
    margin-left: 5px
}
.homeicon{
    position: relative;
    top:32px;
    left:0px
    
}

.iconcard{
    font-size:30;
    color:white
}

.iconcard-num{
    font-size:20;
    color:blue;
    margin-left: 30px;

}
.iconcard-text{
    display: inline-block;
    margin-left: 46px;
    color:white
}

